<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spaceout.myapp.model.dao.EmotionRecordDao">

    <select id="selectEmotionRecordByEmotionId" parameterType="BigInteger">
        SELECT *
        FROM emotion_records
        WHERE user_id = #{userId}
    </select>

    <insert id="createEmotionRecord" parameterType="EmotionRecord">
        INSERT INTO emotion_records (emotion_record_id, user_id, emotion_detail_id, diary_entry, created_time, updated_time)
        VALUES (#{emotionRecordId}, #{userId}, #{emotionDetailId}, #{diaryEntry}, #{createdTime}, #{updatedTime})
    </insert>;

    <update id="updateEmotionRecord" parameterType="EmotionRecord">
        UPDATE emotion_records
        SET user_id = #{userId},
            emotion_detail_id = #{emotionDetailId},
            diary_entry = #{diaryEntry},
            created_time = #{createdTime},
            updated_time = #{updatedTime}
        WHERE emotion_record_id = #{emotionRecordId};
    </update>
</mapper>
