<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.zerogravity.myapp.model.dao.EmotionRecordDao">

    <select id="selectEmotionRecordByUserId" parameterType="long" resultType="EmotionRecord">
        SELECT *
        FROM emotion_record
        WHERE user_id = #{userId}
    </select>
    
    <select id="selectCreatedTimeByEmotionRecordId" parameterType="String" resultType="java.sql.Timestamp">
        SELECT created_time
        FROM emotion_record
        WHERE emotion_record_id = #{emotionRecordId}
    </select>

    <insert id="createEmotionRecord" parameterType="EmotionRecord">
        INSERT INTO emotion_record (emotion_record_id, user_id, emotion_detail_id, emotion_record_type, diary_entry)
        VALUES (#{emotionRecordId}, #{userId}, #{emotionDetailId}, #{emotionRecordType}, #{diaryEntry})
    </insert>

    <update id="updateEmotionRecord" parameterType="EmotionRecord">
        UPDATE emotion_record
        SET user_id = #{userId},
            emotion_detail_id = #{emotionDetailId},
            emotion_record_type = #{emotionRecordType},
            diary_entry = #{diaryEntry},
            updated_time = now()
        WHERE emotion_record_id = #{emotionRecordId};
    </update>
    
</mapper>
