<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.zerogravity.model.dao.EmotionStaticsDao">

	<select id="selectAvgWeekly" resultType="double">
	        SELECT COALESCE(AVG(emotion_score), 0)
	        FROM emotion_statics
	        WHERE user_id = #{userId}
	          AND created_at >= DATE_SUB(NOW(), INTERVAL 7 DAY)
	    </select>
	
	    <select id="selectAvgMonthly" resultType="double">
	        SELECT COALESCE(AVG(emotion_score), 0)
	        FROM emotion_statics
	        WHERE user_id = #{userId}
	          AND created_at >= DATE_SUB(NOW(), INTERVAL 1 MONTH)
	    </select>
	
	    <select id="selectAvgYearly" resultType="double">
	        SELECT COALESCE(AVG(emotion_score), 0)
	        FROM emotion_statics
	        WHERE user_id = #{userId}
	          AND created_at >= DATE_SUB(NOW(), INTERVAL 1 YEAR)
	    </select>
	    
</mapper>