<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerogravity.myapp.model.dao.PeriodicStaticsDao">

    <!-- 주기 유형 및 사용자 ID에 따른 기존 통계 조회 -->
    <select id="selectPeriodicStaticsByUserAndType" parameterType="map" resultType="PeriodicStatics">
        SELECT user_id, period_end, period_type, sum_score, count, average_score
        FROM periodic_statics
        WHERE user_id = #{userId} AND period_type = #{periodType}
    </select>
    
    <!-- 새 주기 통계 삽입 -->
    <insert id="insertPeriodicStatics" parameterType="PeriodicStatics">
        INSERT INTO periodic_statics (user_id, period_end, period_type, sum_score, count, average_score)
        VALUES (#{userId}, #{periodEnd}, #{periodType}, #{sumScore}, 1, #{averageScore})
        <selectKey keyProperty="periodicStaticsId" resultType="String" order="AFTER">
            SELECT LAST_INSERT_ID() AS periodicStaticsId
        </selectKey>
    </insert>
    
    <!-- 기존 주기 통계 업데이트 -->
    <update id="updatePeriodicStatics" parameterType="PeriodicStatics">
        UPDATE periodic_statics
        SET period_end = #{periodEnd}, sum_score = #{sumScore}, count = #{count}, average_score = #{averageScore}
        WHERE user_id = #{userId} AND period_type = #{periodType}
    </update>

</mapper>
