<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerogravity.myapp.model.dao.UserSettingDao">
	<!-- 사용자 설정 정보 조회 -->
	<select id="selectUserSettingByUserId" resultType="UserSetting" parameterType="long">
		SELECT * FROM user_setting
		WHERE user_id = #{userId}
	</select>
	
	<!-- 사용자 설정 정보 삽입 -->
	<insert id="insertUserSetting" parameterType="UserSetting" keyProperty="userSettingId">
		INSERT INTO user_setting (user_setting_id, user_id, scene_object_id, font_style, color_scheme)
		VALUES (#{userSettingId}, #{userId}, #{sceneObjectId}, #{fontStyle}, #{colorScheme})
	</insert>
	
	<!-- 사용자 설정 정보 업데이트 -->
	<update id="updateUserSetting" parameterType="UserSetting">
		UPDATE user_setting
		SET scene_object_id = #{sceneObjectId}, font_style = #{fontStyle}, color_scheme = #{colorScheme}
		WHERE user_setting_id = #{userSettingId};
	</update>
</mapper>